@charset "UTF-8";
/* ==========================================================================
/* Reset
/*==========================================================================*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
/* Base
/*==========================================================================*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font: medium/1.5 '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Meiryo, sans-serif;
}

html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100%;
  color: #263238;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

*[lang='en'] {
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
}

.news_bg {
  background-image: url(/images/bg_hazari0.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
  margin-bottom: 70px;
}

.news {
  max-width: 1060px;
  margin: auto;
  background-color: #fff;
  margin: auto;
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_title {
  font-size: 22px;
  width: 25%;
}

.news_content__list li:not(:last-child) {
  margin-bottom: 30px;
}

.news_content__list__date {
  margin-right: 30px;
}

.description {
  margin-bottom: 70px;
}

.description__content {
  max-width: 673px;
  margin: auto;
  border: 2px solid #ff9702;
  padding: 0 60px 40px;
  font-size: 20px;
  position: relative;
}

.description__content__title {
  margin: auto;
  font-size: 50px;
  text-align: center;
  color: #ff9702;
  background-color: #fff;
  position: relative;
  top: -60px;
}

.web {
  max-width: 1060px;
  margin: auto;
  margin-bottom: 70px;
}

.web__title {
  font-size: 40px;
  color: #ff9702;
  font-weight: bold;
  text-align: center;
  background-image: url(/images/bg_kazari.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.web__title::before {
  display: block;
  content: "web";
  font-weight: normal;
  line-height: 3em;
}

.web__title::after {
  display: block;
  content: "design";
  font-weight: normal;
  line-height: 3em;
}

.web .web__content, .web .web__content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 20px 40px;
  background-image: url(/images/bgkkarzari2.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.service_title::after {
  display: block;
  content: "service";
  font-weight: normal;
  line-height: 3em;
}

.web__content2 {
  padding: 0 150px 40px !important;
}

.works {
  margin-bottom: 70px;
}

.works__title {
  font-size: 40px;
  color: #ff9702;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.works__title__small {
  font-size: 20px;
}

.works__bg {
  padding: 20px;
  background-image: url(/images/web_design.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.works__content {
  max-width: 1060px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.works__content img {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .news_bg {
    background-size: 100% 100%;
    padding: 30px;
    margin-bottom: 100px;
  }
  .news {
    display: block;
    padding: 20px 20px;
  }
  .news_title {
    margin-bottom: 20px;
  }
  .news_content__list__date {
    display: block;
    margin-bottom: 10px;
  }
  .description__content__title {
    top: -40px;
    font-size: 25px;
  }
  .description__content {
    padding: 0 30px 20px;
    font-size: 16px;
  }
  .web {
    margin: 0 10px 40px;
  }
  .web__title {
    font-size: 25px;
  }
  .description {
    margin: 0 10px 40px;
  }
  .web__content, .web__content2 {
    display: block !important;
  }
  .web__content img, .web__content2 img {
    display: block;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
  }
  .web__content2 {
    padding: 0 0 40px !important;
  }
  .web__title::before {
    line-height: 2em;
  }
  .web__title::after {
    line-height: 2em;
  }
}

footer {
  background-color: #000;
  padding: 20px 0;
  color: #fff;
}

.footer__content {
  max-width: 1060px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerLogo {
  margin-bottom: 20px;
}

.footerNav {
  padding-top: 50px;
  margin-left: 100px;
}

.footerNav__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerNav__li > li {
  margin: 0 30px 10px 0;
}

.footerNav__li__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.footerNav__li__li li {
  margin-bottom: 10px;
}

.copyright {
  text-align: center;
  padding: 10px 0;
}

/* sp_footer */
@media screen and (max-width: 767px) {
  .footer__content {
    display: block;
  }
  .footerNav {
    margin: 0;
  }
  .footer__content {
    padding: 15px;
  }
  .footerNav__li {
    display: block;
    text-align: center;
  }
  .footer__info {
    text-align: center;
  }
  .footerNav__li__title {
    font-size: 20px;
  }
  .footerNav__li > li {
    margin: 0 0 20px 0;
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */